<h1>Discussions</h1>
<hr>
<h3><%= @discussion.title %></h3>
  <p>Description: <%= @discussion.description %></p>
  <p><%= link_to "Edit", edit_project_discussion_path(@project, @discussion) %></p>
  <p><%= link_to "Delete", project_discussion_path(@project, @discussion), method: :delete, data: {confirm: "Are you sure?"} %></p>
<hr>


<h2>Comments</h2>
<%= form_for [@discussion, @comment] do |f| %> 
   <%= f.label :body %>
   <%= f.text_field :body %>
   <br>
   <%= f.submit %> 
<% end %>


<% @discussion.comments.each do |comment| %>
  <p>Comment: <%= comment.body %></p>
  <p><%= link_to "Delete", discussion_comment_path(@discussion, comment), method: :delete, data: {confirm: "Are you sure?"} %></p>
<% end %>