<div id="<%= dom_id(task) %>">
  <h4>Title: <%= task.title %></h4>
  <p><strong>Body: </strong><%= task.body %></p>
  <p><strong>Date: </strong><%= task.due_date %></p>
  <p><%= link_to "Edit", edit_project_task_path(@project, task), class: "btn btn-primary" %></p>
  <p><%= link_to "Delete", project_task_path(@project, task), method: :delete, data: {confirm: "Are you sure you want to delete?"}, remote: true, class: "btn btn-danger" %></p>
    
  <div class="toggle">
    <% if task.status == true %>
      <p><%= link_to "Complete", toggle_task_path(task), method: :patch, remote: true, class: "btn btn-success" %></p>
    <% else %>
      <p><%= link_to "Incomplete", toggle_task_path(task), method: :patch, remote: true, class: "btn btn-danger" %></p>
    <% end %>
  </div>
</div>