<div class="container">
  <h1><a href="/projects">All Projects</a></h1>

  <%= form_tag(projects_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Projects", class: "form-control" %><br>
    <%= submit_tag "Search", :title => nil, class: "btn btn-custom" %>
  <% end %>

  <% @projects.each do |project| %> 
    <h2><%= link_to project.title, project_path(project) %></h2>
    <p><%= project.description %></p>
    <hr>
  <% end %>
</div>