<center>
  <div class="well">
    <h1>Title: <%= @project.title %></h1>
    <p><strong>Description: </strong><%= @project.description %></p>
    <h5>Due Date: <%= @project.due_date %></h5>

    <h4>Project Members: <% @project.members.each do |member| %></h4>
      <li><%= User.find(member.user_id).full_name %></li>
    <% end %>

    <p><%= link_to "Edit", edit_project_path(@project) %></p>
    <p><%= link_to "Delete", project_path(@project), method: :delete, data: {confirm: "Are you sure you want to delete?"} %></p>

    <% if user_signed_in? && current_user.has_favorited?(@project) %>
      <% @favorite = current_user.favorites.find_by_project_id(@project.id) %>
      <%= link_to "Unfavorite", project_favorite_path(@project, @favorite), class: "btn btn-danger", method: :delete %>
    <% else %>
      <%= link_to "Favorite", project_favorites_path(@project), class: "btn btn-info", method: :post %>
    <% end %> 
  </div>

  <div class="well">
    <h1>Create a Task</h1>
    <%= render "/tasks/form" %>
  </div>

  <div class="well">
    <h1>Create a Discussion</h1>
    <%= render "/discussions/form" %>
  </div>

  <div class="well">
    <h1>Project Tasks</h1>
    <% @project.tasks.each do |task| %> 
      <h3><%= task.title %></h3>
      <p>Body: <%= task.body %></p>
      <p>Date: <%= task.due_date %></p>
      <p><%= link_to "Edit", edit_project_task_path(@project, task) %></p>
      <p><%= link_to "Delete", project_task_path(@project, task), method: :delete, data: {confirm: "Are you sure you want to delete?"} %></p>
      <% if task.status == true %>
        <p><%= link_to "Done", toggle_task_path(task), method: :patch %></p>
      <% else %>
        <p><%= link_to "Not Done", toggle_task_path(task), method: :patch %></p>
      <% end %>
    <% end %>
  </div> 

  <div class="well">
    <h1>Project Discussions</h1>
    <% @project.discussions.each do |discussion| %>
      <h2><%= link_to discussion.title, project_discussion_path(@project, discussion) %></h2>
    <% end %>
  </div>
</center>
  

