<!DOCTYPE html>
<html>
<head>
  <title>PmTool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>


<body>
  <center>
    <a href="/">Home</a>
    |
    <a href="/about">About</a>
    |
    <a href="/projects">All Projects</a>
    |
    <a href="/projects/new">New Project</a>
    |
    <% if user_signed_in? %>
          Hello <%= current_user.first_name %>,
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    <% else %> 
          <%= link_to "Sign In", new_user_session_path %>
    <% end %>
  <br>
  <%= flash[:notice] || flash[:alert] %>
  <br>
  <%= yield %>
</center>

</body>
</html>
